/*-------------------------------  the Flexbox fun is at the bottom!  -------------------------------*/
/*-------------------------------  the Flexbox fun is at the bottom!  -------------------------------*/
/*-------------------------------  the Flexbox fun is at the bottom!  -------------------------------*/
/*-------------------------------  the Flexbox fun is at the bottom!  -------------------------------*/

body { 
	background: tomato; 
	font-family: Helvetica;
} 

.flexbox-heading { 
	text-align: center; 
	letter-spacing: 10px;
	text-shadow:
       3px 3px 0 #FFF,
     -1px -1px 0 #FFF,  
      1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
       1px 1px 0 #FFF,
       -2px -2px 15px #FFB28F,  
      2px -2px 15px #FFB28F,
      -2px 2px 15px #FFB28F,
       2px 2px 15px #FFB28F;
}

.section-a { 
	border: 6px dotted #E2B000;
	margin-top: 10px;
}

.section-b { 
	border: 6px dotted #E2B000;
	margin-top: 10px;
}

.section-a__thing { 
	background: #ccaacc;
	border: 1px solid #9E8DA7;
	font-size: 40px;
	border-radius: 10px;
}

.section-b__thing{ 
	background: #aaccaa;
	border: 1px solid #75B391;
	font-size: 40px;
	border-radius: 10px;
}

/*---------------------------------------  Flexbox Time  ---------------------------------------*/
/*---------------------------------------  Flexbox Time  ---------------------------------------*/
/*---------------------------------------  Flexbox Time  ---------------------------------------*/
/*---------------------------------------  Flexbox Time  ---------------------------------------*/

.section-a { 
	height: 400px;

	/*display: flex;*/

	/*justify-content: flex-start;*/
	/*justify-content: flex-end;*/
	/*justify-content: space-between;*/
	/*justify-content: space-around;*/
	/*justify-content: center;*/

	/*align-items: flex-start;*/
	/*align-items: flex-end;*/
	/*align-items: center;*/
	/*align-items: baseline;*/
	/*align-items: stretch;*/

	/*flex-direction: row;*/
	/*flex-direction: row-reverse;*/
	/*flex-direction: column;*/
	/*flex-direction: column-reverse;*/
}

.section-a__thing { 
	height: 50px;
	width: 50px;
}
/*

.section-a__thing:nth-child(even) {
	order: 1;
}


.section-a__thing:nth-child(odd) {
	order: 2;
}
*/

.section-b {
}

.section-b__thing{
}
